<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css/'>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui" name="viewport">
    <title>炫酷多彩正六边形跟随鼠标移动变幻canvas动画</title>
    <meta content="炫酷多彩,六边形,跟随鼠标,移动变幻,canvas动画" name="keywords">
    <meta content="炫酷多彩正六边形跟随鼠标移动变幻canvas动画代码下载。js代码(www.jsdaima.com)" name="description">
  </head>
  <body>
      <%- body%>
  </body>
</html>
